.navbar{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
body{
    background-color: antiquewhite;
}
header{
    background-color: black;
}
.list{
    display: flex;
    gap:1rem;
    margin-right: 1rem;
}
ul{
    list-style-type: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:white;
    transition: color 3s ease;
}
a:hover{
    color:orange;
}
h2{
    text-align: center;
}
.first-section{
    background-color: lightgreen;
    color:white;
    height: 50vh;

}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
h1{
    font-size: 3rem;
}
p{
    font-size:1.5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}
.category{
    background-color: white; 
    margin: 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.category:hover{
    transform: scale(1.05);
}
.category img{
    margin:0rem 1rem;
    margin-top: 2rem;
    animation: fadeIn 0.5s ease-out forwards;
}
.category p{
  color: orange;
  font-size: small;
}
.testimonials{
    padding:1rem 1rem;
}
.testi{
    background-color: grey;
    text-align: center;
    height: 20vh;
    margin: 0rem 1rem;
}
.testi p{
    font-size: medium;

}
.testi p:nth-of-type(2) {
    color: orange;
}
footer p{
    text-align: center;
    color: black;
    font-size: small;
}
/* General Styles */
.form-body, .form-html {
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ed8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Signin and Signup Forms */
  .form {
    display: none; /* Hide both forms initially */
  }
  
  /* Show active form when radio button is checked */
  #signin-tab:checked ~ .signin-form,
  #signup-tab:checked ~ .signup-form {
    display: block; /* Display the selected form */
  }
  
  /* Form Styles */
  form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  /* Styles for text, password, and email inputs */
  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  /* Styles for submit buttons */
  button[type="submit"] {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #ff4500;
  }
  
  /* Styles for labels within the forms */
  .form-label {
    cursor: pointer;
    padding: 1em 2em;
    background-color: #ccc;
    display: inline-block;
    margin: 0.5em;
    border-radius: 4px 4px 0 0;
    transition: background-color 0.3s ease;
    color: #001aff; /* Color for switch links */
  }
  
  .form-label:hover {
    color: #ff4500; /* Color for switch links */
    cursor: pointer;
  }
  
  /* Styles for paragraphs within the forms */
  .form-text {
    font-size: 0.9em;
    margin-top: 1em;
  }
  
  .form-text label:hover {
    text-decoration: underline; /* Underline effect for switch links */
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #fff; /* Background color for the container */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(9, 33, 64, 0.808); /* Shadow effect for the container */
    padding: 2em; /* Padding inside the container */
  }
  
  
  

.comparision-table{
    width:100%;
    margin:2rem 0;
    border-collapse: collapse;
    border: 2px solid grey;
}
.comparision-table th,
.comparision-table td{
    padding: 1em;
    border:1px solid grey;
}
.comparision-table thead{
    background-color: lightcoral;
    color:#fff;
    font-weight: bold;
}
.container-1 h1,.container-1 p:first-of-type {
animation: flash 2s forwards;
}
.offer{
    font-size: medium;
    animation:blink 1s ease-in-out infinite;
}
#products-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.checkout-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #070505;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

.card-title {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
}

.card-text {
    color: #666;
}

.btn {
    margin-top: auto;
}

h1 {
    text-align: center;
    margin-top: 40px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform:translateY(150px) ;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes flash{
0%{
    opacity: 0;
}
100%{
    opacity: 1;
}
}
@keyframes blink{
    0%,100%{
        opacity: 0;
    }
    50%{
      opacity: 1;
    }
}
@media screen and (max-width:500px){
    .navbar{
        flex-wrap: wrap;
        padding: 0.5rem;
        justify-content: center;
        text-align: center;
    }
    .nav-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 1em;
    }
}

@media screen and (min-width:780px) and (max-width:980px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:500px) and (max-width:780px) {
    .grid{
        grid-template-columns:1fr 1fr;
    }
    .first-section{
        height: auto;
        padding: 1em 1em;
    }
    .container-1 h1,p{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:500px) {
    .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    .container-1 h1,p{
        font-size: large;
    }
    .first-section{
        height: auto;
        padding: 1em 1em;

    }
    .category{
        width: 15rem;
    }

    .testi{
        display: grid;
        grid-template-columns: 1fr;
        width: 20rem;
    }
}